# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appnope
backcall
ca-certificates
certifi
dbus
decorator
expat
gettext
glib
icu
ipython
ipython_genutils
jedi
jpeg
libcxx
libcxxabi
libedit
libffi
libiconv
libpng
ncurses
openssl
parso
pcre
pexpect
pickleshare
pip
prompt_toolkit
ptyprocess
pygments
pyqt
python
qt
readline
setuptools
simplegeneric
sip
six
sqlite
tk
traitlets
wcwidth
wheel
xz
zlib
